.flower-detail {
    background: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #000000;
}

.flower-detail img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.flower-detail .flower-info {
    text-align: left;
    max-width: 600px;
    width: 100%;
}

.flower-info h3 {
    margin: 0 0 10px 0;
}

.flower-info p {
    margin: 10px 0;
}

.flower-info p strong {
    font-size: 1.4rem;
}

