@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --main-color: #006494ff;
    --text-color: #ffffff;
    --text-second-color:#000000;
    --text-hover-color: #333333;
    --font: 'Montserrat', sans-serif;
}

@media (min-width: 37.5em) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: var(--main-color);
    }
    #menu {
        display: none;
    }
    
    .navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	.stuff {
		margin: 1rem auto;
	}
}
